/*
Identificação: Gilmar da Silva Filho
Matéria: Desenvolvimento de Aplicação Web II
Arquivo de estudo: Parte2.css
Explicação: seletores CSS definem a quais elementos aplicar as propriedades.
Estudo: acompanhe a entrada, o processamento e a saída; teste também um caso limite.
Consulte o README da matéria para a sequência de estudo e execução.
*/
function ExibirMensagem() {
    alert ("Primeiro código- Gilmar da Silva Filho");    
 }
 