/*
Identificação: Gilmar da Silva Filho
Matéria: Desenvolvimento de Aplicação Web I
Arquivo de estudo: test.css.css
Explicação: seletores CSS definem a quais elementos aplicar as propriedades.
Estudo: acompanhe a entrada, o processamento e a saída; teste também um caso limite.
Consulte o README da matéria para a sequência de estudo e execução.
*/
#borda{
    border: 2px thick;
}
.color{
    color: red;
}