/*
Identificação: Gilmar da Silva Filho
Matéria: Desenvolvimento de Aplicação Web I
Arquivo de estudo: StyleLe.css
Explicação: seletores CSS definem a quais elementos aplicar as propriedades.
Estudo: acompanhe a entrada, o processamento e a saída; teste também um caso limite.
Consulte o README da matéria para a sequência de estudo e execução.
*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet');
